<div class="crew-config-wrapper">
  <div class="crew-config-value">
    <label for="json">{{localize 'revolutionary-darkcaribbean.settings.crew-config.name'}}</label>
    <textarea id="json" name="json" rows="22">
      {{~json~}}
    </textarea>
  </div>
  <div class="crew-config-doc">
    <h4>{{localize 'revolutionary-darkcaribbean.settings.crew-config.docs.title'}}</h4>
    <p>{{localize 'revolutionary-darkcaribbean.settings.crew-config.docs.intro'}}</p>
    <table>
      <thead>
        <tr>
          <th>{{localize 'revolutionary-darkcaribbean.settings.crew-config.docs.variables.columns.varname'}}</th>
          <th>{{localize 'revolutionary-darkcaribbean.settings.crew-config.docs.variables.columns.notes'}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>shares</code></td>
          <td>{{localize 'revolutionary-darkcaribbean.settings.crew-config.docs.variables.shares'}}</td>
        </tr>
        <tr>
          <td><code>max</code></td>
          <td>{{localize 'revolutionary-darkcaribbean.settings.crew-config.docs.variables.max'}}</td>
        </tr>
        <tr>
          <td><code>exempt</code></td>
          <td>{{localize 'revolutionary-darkcaribbean.settings.crew-config.docs.variables.exempt'}}</td>
        </tr>
        <tr>
          <td><code>exclusive</code></td>
          <td>{{localize 'revolutionary-darkcaribbean.settings.crew-config.docs.variables.exclusive'}}</td>
        </tr>
        <tr>
          <td><code>required</code></td>
          <td>{{localize 'revolutionary-darkcaribbean.settings.crew-config.docs.variables.required'}}</td>
        </tr>
        <tr>
          <td><code>votes</code></td>
          <td>{{localize 'revolutionary-darkcaribbean.settings.crew-config.docs.variables.votes'}}</td>
        </tr>
      </tbody>
    </table>
    <h5>{{localize 'revolutionary-darkcaribbean.settings.crew-config.docs.positions.title'}}</h5>
    <p>{{localize 'revolutionary-darkcaribbean.settings.crew-config.docs.positions.intro'}}</p>
    <p>{{localize 'revolutionary-darkcaribbean.settings.crew-config.docs.positions.historical'}}</p>
    <table>
      <thead>
        <tr>
          <th>{{localize 'revolutionary-darkcaribbean.settings.crew-config.docs.positions.columns.id'}}</th>
          <th>{{localize 'revolutionary-darkcaribbean.settings.crew-config.docs.positions.columns.name'}}</th>
          <th style="white-space: nowrap;">{{localize 'revolutionary-darkcaribbean.settings.crew-config.docs.positions.columns.historical'}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>captain</code></td>
          <td>{{localize 'revolutionary-darkcaribbean.crew-panel.positions.glossary.captain.title'}}</td>
          <td></td>
        </tr>
        <tr>
          <td><code>quartermaster</code></td>
          <td>{{localize 'revolutionary-darkcaribbean.crew-panel.positions.glossary.quartermaster.title'}}</td>
          <td></td>
        </tr>
        <tr>
          <td><code>master</code></td>
          <td>{{localize 'revolutionary-darkcaribbean.crew-panel.positions.glossary.master.title'}}</td>
          <td></td>
        </tr>
        <tr>
          <td><code>bosun</code></td>
          <td>{{localize 'revolutionary-darkcaribbean.crew-panel.positions.glossary.bosun.title'}}</td>
          <td></td>
        </tr>
        <tr>
          <td><code>gunner</code></td>
          <td>{{localize 'revolutionary-darkcaribbean.crew-panel.positions.glossary.gunner.title'}}</td>
          <td></td>
        </tr>
        <tr>
          <td><code>carpenter</code></td>
          <td>{{localize 'revolutionary-darkcaribbean.crew-panel.positions.glossary.carpenter.title'}}</td>
          <td></td>
        </tr>
        <tr>
          <td><code>surgeon</code></td>
          <td>{{localize 'revolutionary-darkcaribbean.crew-panel.positions.glossary.surgeon.title'}}</td>
          <td></td>
        </tr>
        <tr>
          <td><code>priest</code></td>
          <td>{{localize 'revolutionary-darkcaribbean.crew-panel.positions.glossary.priest.title'}}</td>
          <td></td>
        </tr>
        <tr>
          <td><code>sorcerer</code></td>
          <td>{{localize 'revolutionary-darkcaribbean.crew-panel.positions.glossary.sorcerer.title'}}</td>
          <td></td>
        </tr>
        <tr>
          <td><code>mate</code></td>
          <td>{{localize 'revolutionary-darkcaribbean.crew-panel.positions.glossary.mate.title'}}</td>
          <td></td>
        </tr>
        <tr>
          <td><code>cooper</code></td>
          <td>{{localize 'revolutionary-darkcaribbean.crew-panel.positions.glossary.cooper.title'}}</td>
          <td></td>
        </tr>
        <tr>
          <td><code>armorer</code></td>
          <td>{{localize 'revolutionary-darkcaribbean.crew-panel.positions.glossary.armorer.title'}}</td>
          <td></td>
        </tr>
        <tr>
          <td><code>musician</code></td>
          <td>{{localize 'revolutionary-darkcaribbean.crew-panel.positions.glossary.musician.title'}}</td>
          <td></td>
        </tr>
        <tr>
          <td><code>sailmaker</code></td>
          <td>{{localize 'revolutionary-darkcaribbean.crew-panel.positions.glossary.sailmaker.title'}}</td>
          <td></td>
        </tr>
        <tr>
          <td><code>cook</code></td>
          <td>{{localize 'revolutionary-darkcaribbean.crew-panel.positions.glossary.cook.title'}}</td>
          <td></td>
        </tr>
        <tr>
          <td><code>crew</code></td>
          <td>{{localize 'revolutionary-darkcaribbean.crew-panel.positions.glossary.crew.title'}}</td>
          <td></td>
        </tr>
        <tr>
          <td><code>land</code></td>
          <td>{{localize 'revolutionary-darkcaribbean.crew-panel.positions.glossary.land.title'}}</td>
          <td></td>
        </tr>
        <tr>
          <td><code>child</code></td>
          <td>{{localize 'revolutionary-darkcaribbean.crew-panel.positions.glossary.child.title'}}</td>
          <td></td>
        </tr>
        <tr>
          <td><code>forced</code></td>
          <td>{{localize 'revolutionary-darkcaribbean.crew-panel.positions.glossary.forced.title'}}</td>
          <td style="text-align: center;">&#10004;</td>
        </tr>
        <tr>
          <td><code>slave</code></td>
          <td>{{localize 'revolutionary-darkcaribbean.crew-panel.positions.glossary.slave.title'}}</td>
          <td style="text-align: center;">&#10004;</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
