<section class="tab ghosts-haunting" data-tab="haunting" data-group="ghosts-tabs">
  {{#if isEmpty}}
    <div class="nil">
      <div class="nil-content">
        <p>{{localize 'revolutionary-darkcaribbean.ghosts-panel.haunting.nil.text'}}</p>
        <button type="button" class="add" data-action="add-haunting">
          <i class="fa-solid fa-plus"></i>
          {{localize 'revolutionary-darkcaribbean.ghosts-panel.haunting.nil.button'}}
        </button>
      </div>
    </div>
  {{/if}}
  {{#if ghost}}
    <div class="ghosts-listing">
      <nav>
        <ul>
          {{#each ghosts}}
            <li class="{{this.classes}}" data-set-ghost="{{this.id}}">
              {{this.names.haunted}}
            </li>
          {{/each}}
        </ul>
        <div class="actions">
          <button
            type="button"
            class="add"
            data-action="add-haunting"
            title="{{localize 'revolutionary-darkcaribbean.ghosts-panel.haunting.buttons.add.tooltip'}}">
            <i class="fa-solid fa-plus"></i>
            {{localize 'revolutionary-darkcaribbean.ghosts-panel.haunting.buttons.add.label'}}
          </button>
        </div>
      </nav>
      <div class="ghost-card">
        {{#unless editing}}
          <button
            type="button"
            class="edit"
            data-action="edit"
            title="{{localize 'revolutionary-darkcaribbean.ghosts-panel.haunting.buttons.edit.tooltip'}}">
            {{localize 'revolutionary-darkcaribbean.ghosts-panel.haunting.buttons.edit.label'}}
          </button>
        {{/unless}}
        <label for="ghost-haunted-name">
          {{localize 'revolutionary-darkcaribbean.ghosts-panel.fields.names.haunted.label'}}
        </label>
        <p class="hint">
          {{localize 'revolutionary-darkcaribbean.ghosts-panel.fields.names.haunted.hint'}}
        </p>
        {{#unless editing}}
          <p class="ghost-field" id="ghost-haunted-name">{{ghost.names.haunted}}</p>
        {{/unless}}
        {{#if editing}}
          <input type="text" name="ghost-haunted-name" id="ghost-haunted-name" value="{{ghost.names.haunted}}" />
        {{/if}}

        <label for="ghost-human-name">
          {{localize 'revolutionary-darkcaribbean.ghosts-panel.fields.names.human.label'}}
        </label>
        <p class="hint">
          {{localize 'revolutionary-darkcaribbean.ghosts-panel.fields.names.human.hint'}}
        </p>
        {{#unless editing}}
          <p class="ghost-field" id="ghost-human-name">{{ghost.names.human}}</p>
        {{/unless}}
        {{#if editing}}
          <input type="text" name="ghost-human-name" id="ghost-human-name" value="{{ghost.names.human}}" />
        {{/if}}

        <div class="droppable actor">
          <label>
            {{localize 'revolutionary-darkcaribbean.ghosts-panel.fields.actor.label'}}
          </label>
          <p class="hint">
            {{localize 'revolutionary-darkcaribbean.ghosts-panel.fields.actor.hint'}}
          </p>
          {{#if actor}}
            <p class="ghost-field" id="ghost-actor">{{{actor}}}</p>
          {{/if}}
          {{#unless actor}}
            <p class="nil">
              {{localize 'revolutionary-darkcaribbean.ghosts-panel.fields.actor.nil'}}
            </p>
          {{/unless}}
        </div>

        <label for="ghost-notes">
          {{localize 'revolutionary-darkcaribbean.ghosts-panel.fields.notes.label'}}
        </label>
        <p class="hint">
          {{localize 'revolutionary-darkcaribbean.ghosts-panel.fields.notes.hint'}}
        </p>
        {{#unless editing}}
          {{{notes}}}
        {{/unless}}
        {{#if editing}}
          <prose-mirror name="notes" editable="true" value="{{ghost.notes}}">
            {{{ghost.notes}}}
          </prose-mirror>
        {{/if}}

        <div class="actions">
          {{#if editing}}
            <button
              type="button"
              class="save"
              data-action="save"
              title="{{localize 'revolutionary-darkcaribbean.ghosts-panel.haunting.buttons.save.tooltip'}}">
              {{localize 'revolutionary-darkcaribbean.ghosts-panel.haunting.buttons.save.label'}}
            </button>
            <button
              type="button"
              class="cancel"
              data-action="cancel-editing"
              title="{{localize 'revolutionary-darkcaribbean.ghosts-panel.haunting.buttons.cancel.tooltip'}}">
              {{localize 'revolutionary-darkcaribbean.ghosts-panel.haunting.buttons.cancel.label'}}
            </button>
          {{/if}}
        </div>
      </div>
    </div>
  {{/if}}
</section>
