<tbody>
  <tr>
    <td>{{resource.name}}</td>
    <td class="amount">{{resource.amount}}</td>
    <td class="action">
      <button type="button" data-action="{{resource.action}}" title="{{localize resource.tooltip}}">
        <i class="fa-solid fa-feather-pointed"></i>
      </button>
    </td>
  </tr>
  {{#if resource.estimate}}
  <tr>
    <td colspan="3" class="estimate">
      {{resource.estimate}}
    </td>
  </tr>
  {{/if}}
</tbody>