<div class="crew-teams-{{team.side}}">
  <h3>{{ team.name }}</h3>
  <label for="officer">{{localize 'revolutionary-darkcaribbean.crew-panel.teams.officer.heading'}}</label>
  <select name="officer" id="officer">
    <option value="quartermaster"{{#if team.isQuartermaster}} selected{{/if}}>
      {{localize 'revolutionary-darkcaribbean.crew-positions.quartermaster.title'}}
    </option>
    <option value="sailing-master"{{#unless team.isQuartermaster}} selected{{/unless}}>
      {{localize 'revolutionary-darkcaribbean.crew-positions.sailing-master.title'}}
    </option>
  </select>
  {{#if this.officers}}
  <table class="crew-assignments">
    {{#each this.officers}}
      {{> listing actor=this canRemove=false }}
    {{/each}}
  </table>
  {{else}}
  <p class="null">
    {{#if team.isQuartermaster}}
      {{{localize 'revolutionary-darkcaribbean.crew-panel.teams.officer.null.quartermaster'}}}
    {{else}}
      {{{localize 'revolutionary-darkcaribbean.crew-panel.teams.officer.null.sailing-master'}}}
    {{/if}}
  </p>
  {{/if}}

  <h4>{{localize 'revolutionary-darkcaribbean.crew-panel.teams.helm.heading'}}</h4>
  {{#if this.helm}}
    <table class="crew-assignments">
      {{> listing actor=this.helm canRemove=true removeText='revolutionary-darkcaribbean.crew-panel.team.helm.remove' }}
    </table>
  {{else}}
    <p class="null">
      {{localize 'revolutionary-darkcaribbean.crew-panel.teams.helm.null'}}
    </p>
  {{/if}}

  <h4>{{localize 'revolutionary-darkcaribbean.crew-panel.teams.lookout.heading'}}</h4>
  {{#if this.lookout}}
    <table class="crew-assignments">
      {{> listing actor=this.lookout canRemove=true removeText='revolutionary-darkcaribbean.crew-panel.team.lookout.remove' }}
    </table>
  {{else}}
    <p class="null">
      {{localize 'revolutionary-darkcaribbean.crew-panel.teams.lookout.null'}}
    </p>
  {{/if}}

  <h4>{{localize 'revolutionary-darkcaribbean.crew-panel.teams.other.heading'}}</h4>
  {{#if this.others}}
    <table class="crew-assignments">
      {{#each this.others}}
      {{> listing actor=this canRemove=true removeText='revolutionary-darkcaribbean.crew-panel.team.other.remove' }}
      {{/each}}
    </table>
  {{else}}
    <p class="null">
      {{localize 'revolutionary-darkcaribbean.crew-panel.teams.other.null'}}
    </p>
  {{/if}}
</div>