<div class="crew-teams-{{team.side}}">
  <h3>{{localize team.name}}</h3>
  <label for="officer">{{localize 'revolutionary-darkcaribbean.crew-panel.teams.officer.heading'}}</label>
  <select name="officer" id="officer" class="team-officer" data-team="{{team.side}}">
    <option value="quartermaster"{{#if team.isQuartermaster}} selected{{/if}}>
      {{localize 'revolutionary-darkcaribbean.crew-panel.positions.glossary.quartermaster.title'}}
    </option>
    <option value="sailing-master"{{#unless team.isQuartermaster}} selected{{/unless}}>
      {{localize 'revolutionary-darkcaribbean.crew-panel.positions.glossary.sailing-master.title'}}
    </option>
  </select>
  {{#if team.officers}}
  <table class="crew-listing">
    {{#each team.officers}}
      {{> listing actor=this canRemove=false }}
    {{/each}}
  </table>
  {{else}}
  <p class="null">
    {{#if team.isQuartermaster}}
      {{{localize 'revolutionary-darkcaribbean.crew-panel.teams.officer.null.quartermaster'}}}
    {{else}}
      {{{localize 'revolutionary-darkcaribbean.crew-panel.teams.officer.null.sailing-master'}}}
    {{/if}}
  </p>
  {{/if}}

  <section class="team-position droppable" data-position="helm" data-team="{{team.side}}">
    <h4>{{localize 'revolutionary-darkcaribbean.crew-panel.teams.helm.heading'}}</h4>
    {{#if team.helm}}
      <table class="crew-listing">
        {{> listing actor=team.helm action="unassign-helm" position=team.side canRemove=true removeTitle='revolutionary-darkcaribbean.crew-panel.team.helm.remove' }}
      </table>
    {{else}}
      <p class="null">
        {{localize 'revolutionary-darkcaribbean.crew-panel.teams.helm.null'}}
      </p>
    {{/if}}
  </section>

  <section class="team-position droppable" data-position="lookout" data-team="{{team.side}}">
    <h4>{{localize 'revolutionary-darkcaribbean.crew-panel.teams.lookout.heading'}}</h4>
    {{#if team.lookout}}
      <table class="crew-listing">
        {{> listing actor=team.lookout action="unassign-lookout" position=team.side canRemove=true removeTitle='revolutionary-darkcaribbean.crew-panel.team.lookout.remove' }}
      </table>
    {{else}}
      <p class="null">
        {{localize 'revolutionary-darkcaribbean.crew-panel.teams.lookout.null'}}
      </p>
    {{/if}}
  </section>

  <section class="additional-crew">
    <h4>{{localize 'revolutionary-darkcaribbean.crew-panel.teams.other.heading'}}</h4>
    {{#if team.others}}
      <table class="crew-listing">
        {{#each team.others}}
        {{> listing actor=this canRemove=true action="unassign-team" position=team.side removeText='revolutionary-darkcaribbean.crew-panel.team.other.remove' }}
        {{/each}}
      </table>
    {{else}}
      <p class="null">
        {{localize 'revolutionary-darkcaribbean.crew-panel.teams.other.null'}}
      </p>
    {{/if}}
  </section>
</div>